---
---

@import "{{ site.theme }}";

body {
    background-image: url("{{ '/assets/img/background.jpg' }}");
    background-color: #000000;
    height: 100vh;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
