---
---

@import "{{ site.theme }}";

body {
    background-image: url("https://vrlgbtqmeetup.github.io/img/background.jpg");
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
