---
---

@import "{{ site.theme }}";

body {
    background-image: url("{{ '/img/background.jpg' }}");
    background-size: cover;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
