---
---

@import "{{ site.theme }}";

body {
    background-image: url("{{ '/assets/img/background.jpg' }}");
    background-color: #000;
    height: 150vh;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.floating {
    float:left;
    padding-right:10px;
}

button {
    padding: 10px;
    border-radius: 10px;
}

/* collapsible layout */

.collapsible {
    background-color: #c6eafa;
    color: #000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #aaa;
}

.collapsible:after {
    content: '\002B';
    color: #000;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.innertext {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #bbb;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 1.5em;
}

.innertext p {
    margin: 20px 0 20px
}

.center {
    text-align: center;
}

.encase {
    border-width: 0;
    width: 75%;
    height:auto;
    max-width: 100%;
    margin-left:auto;
    margin-right:auto;
}

/*------------------------------------*/

