<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}

    <link href='https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png?v=WGoOlvbOox">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png?v=WGoOlvbOox">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png?v=WGoOlvbOox">
    <link rel="manifest" href="/assets/favicon/site.webmanifest?v=WGoOlvbOox">
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico?v=WGoOlvbOox">
    <meta name="apple-mobile-web-app-title" content="LGBTQ+ and Friends Meetup">
    <meta name="application-name" content="LGBTQ+ and Friends Meetup">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml?v=WGoOlvbOox">
    <meta name="theme-color" content="#ffffff">
    <!----
    <script src="//cdnjs.cloudflare.com/ajax/libs/Snowstorm/20131208/snowstorm-min.js"></script>
    <script>
      snowStorm.excludeMobile = false;
      snowStorm.snowColor = '#d6ecef'; //give the snowflakes another colour
      snowStorm.flakesMaxActive = 100; //the maximum number of active snow flakes on the screen, lowering this may increase performance
      snowStorm.followMouse = true; //the snow will fall in a certain direction based on the position of your mouse
      snowStorm.snowCharacter = '🌈'; // change the flake to a specific character
      snowStorm.snowStick = true; //if true, the snow will stick to the bottom of the screen
      snowStorm.animationInterval = 40; //milliseconds per frame, the higher the less CPU load
      snowStorm.freezeOnBlur = true; //recommended: stops the snow effect when the user switches to another tab or window
      snowStorm.usePositionFixed = true; //if the user scrolls, the snow is not affected by the window scroll. Disable to prevent extra CPU load
    </script>
    <!---->
  </head>
  <body>
    <div class="wrapper">
      <header {% unless site.description or site.github.project_tagline %} class="without-description" {% endunless %}>
        <img src='/assets/img/banner.jpg' alt='LGBTQ banner' height='315' width='560' style='width:95%;'/>
      </header>
      <section id="main_content" style="text-align:center">

        {{ content }}

      </section>
    </div>
  </body>
  <script src="/assets/js/collapsible.js"></script>
</html>
