<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}

    <link href='https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
    <div class="wrapper">
      <header {% unless site.description or site.github.project_tagline %} class="without-description" {% endunless %}>
        <h1 style="text-align:center">{{ site.title | default: site.github.repository_name }}</h1>
        <br>
        <h4 style="text-align:center">{{ site.description | default: site.github.project_tagline }}</h4>
        <hr />
        <table style='margin-left:auto;margin-right:auto;'>
        	<tr>
            <th style='text-align:center'><a href='/'>Home</a></th>
        		<th style='text-align:center'><a href='/about'>About Us</a></th>
        		<th style='text-align:center'><a href='/links'>Links</a></th>
        		<th style='text-align:center'><a href='/help_us'>Help Us</a></th>
        	</tr>
        </table>
        <br>
      </header>
      <section id="main_content" style="text-align:center">

      {{ content }}

      </section>
    </div>
    <footer>
      <div style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'></div>
    </footer>
  </body>
</html>
